<%- include('layout/head'); %>

    <body>
        <header>
            <%- include('layout/nav'); %>

                <section id="portfolio_header">
                    <h1>Jullie bruiloft helemaal <br> naar wens vastgelegd</h1>
                    <img src="/_portfolio/landing.webp" alt="Bruiloft Ringen Foto">
                </section>
        </header>

        <main class="transform_main">
            <section id="portfolio">
                <h3>Portfolio</h3>

                <div>
                    <% portfolioImages.forEach(function(image) { %>
                        <a href="/<%= image.replace('/_portfolio', '_original') %>">
                            <img src="<%= image %>" alt="Portfolio image">
                        </a>
                        <% }) %>
                </div>

                <button id="load_more">Laad Meer</button>
            </section>
        </main>

        <%- include('layout/contact'); %>
    </body>

    </html>